# 股票系统环境变量配置
TUSHARE_TOKEN=your_tushare_token_here
# MySQL信息（默认从/etc/mysql/debian.cnf读取）
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASS=
MYSQL_DB=stock_db
# API Key
XIYI_API_KEY=your_key_here
